.steps-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 30px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.smalli {
  background-color: #1ac1cc;
  border: solid #09838b ;
}

.largei {
  background-color: #ccd7d8;
  border: solid gray;
}